#grid-container {
    border: 1px solid pink;
    display: grid;
    align-items: center;
    height: 600px;
    width: 600px;
    grid-template-columns: repeat(16, 1fr);
    grid-template-columns: repeat(16, 1fr);
}
.div {
    border: 1px solid red;
    height: 100%;
    width: auto;
    
}
